@model IEnumerable<MetroUIPrueba2.Models.Producto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Gerencia/Views/Shared/_IntranetLayoutGerencia.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 30px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }

    .user_session {
        margin-top: 3px;
        margin-left: 5px;
        width: 300px;
        position: relative;
        color: blue;
    }

        .user_session h6 {
            color: blue;
        }

    .div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btn_nuevo {
        margin-bottom: 20px;
        margin-left: 10px;
    }
</style>


<div class="user_session">
    <h6>Usuario: Juan Perez</h6>
</div>



<div class="container" id="principal">
    <div class="div-img"><img style="width:50px; height:50px;" src="~/pics/intranet/listar.jpg"></div>
    <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:space-between">
        <h3>Lista de Productos</h3>
        <a id="btn_nuevo" href="/Producto/Create" class="button primary rounded"><span class="mif-add icon">Nuevo</span></a>
    </div>
    <hr />
    <table class="table compact row-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MetroUIPrueba2.Models.Producto p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Codigo</td>
                    <td>@p.Fecha</td>
                    <td>@p.Precio</td>
                    <td>@p.Imagen</td>
                    <td>@p.Descripcion</td>
                    <td>@p.Estado</td>

                    <td>
                        <a href="@Url.Action("View", "Producto", new { id = p.Id })">Ver/</a>
                        <a href="@Url.Action("Edit", "Producto", new { id = p.Id })">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

