@model IEnumerable<MetroUIPrueba2.Models.Producto>
@{
    ViewBag.Title = "Intranet";
    Layout = "~/Areas/Produccion/Views/Shared/_IntranetLayoutInsumos.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }

    #btn_nuevo {
        margin-bottom: 20px;
        margin-left: 10px;
    }
</style>


<div class="container" id="principal">
    <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:space-between">
        <h3>Lista de Productos</h3>
        <a id="btn_nuevo" href="@Url.Action("Create","Producto")" class="button primary rounded"><span class="mif-add icon">Nuevo</span></a>
    </div>
    <hr />
    <table class="table compact">
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>               
                <th>Día de la entrada</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MetroUIPrueba2.Models.Producto p in Model)
            {
                <tr>
                    <td>@p.Id</td>                    
                    <td>@p.Codigo</td>
                    <td>@p.Fecha</td>
                    <td>@p.Precio</td>
                    <td>@p.Descripcion</td>
                    <td>
                        <a href="@Url.Action("View","Producto", new { id = p.Id })">Ver/</a>
                        <a href="@Url.Action("Edit", "Producto", new { id= p.Id })">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



